html {
  --shadow-for-boxes: 3px 3px 8px 0px #00000047;
}

* {
  font-family: "Lora";
}


p {
  font-size: large;
}

body {
  display: grid;
  grid-template-areas:
    "header header header"
    "main main main"
    "footer footer footer"
  ;
  gap: 100px;
}

.about-me {
  display: grid;
  grid-template-areas:
    "img content content";
  margin-left: 5vw;
  margin-right: 5vw;
  margin-top: 5vh;
  gap: 25px;
}

.about-me img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about-me .image {
  z-index: 2;
  height: 400px;
  width: 325px;
  grid-area: img;
  box-shadow: var(--shadow-for-boxes)
}

.about-me .name {
  grid-area: h1;
  bottom: 70px;
  left: 17%;
  position: relative;
  color: white;
  text-shadow: 0px 3px 5px black;
}



.about-me .content {
  grid-area: content;
  margin: auto;
  margin-top: 60px;
  margin-left: -90px;
  background: white;
  padding: 50px;
  box-shadow: var(--shadow-for-boxes)
}

.about-me .content * {
  margin-left: 3vw;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  ;
  grid-template-rows: 1fr 1fr;
  gap: 30px;
}

.cards .project {
  box-shadow: 3px 3px 10px 1px #00000047;
  transition: transform 1s ease, box-shadow 1s ease;
  will-change: transform, box-shadow;
  /* transition-delay: 0, 2s; */

}

.cards .project img {
  /* max-width: 100%;
  max-height: 100%; */
  max-width: 100%;
  object-fit: cover;
  height: 375px;
  display: block;
}

.cards .content {
  padding: 15px;
}

.cards .project:hover {
  box-shadow: 0 0 12px 4px rgba(0, 0, 0, 0.562);
  transform: scale(1.02);
}

.project-title {
  display: flex;
  align-items: center;
  width: 100%;
  height: 10vh;
  gap: 10px;
}

.project-title h3 {
  margin-right: auto;
}

.project-title svg {
  height: 38px;
  width: 38px;
  margin-top: 3px;
}

svg {
  opacity: 60%;
  width: 35px;
  height: 35px;
  /* width: 30px; */
  /* height: 30px;
  background-color: black;
  margin-left: 10px !important; */
}

i {
  opacity: 60%;
}

i:hover,
svg:hover {
  cursor: pointer;
  /* color: #4A5043 !important;
  fill: #4A5043; */
  opacity: 100%;
}

.icons {
  display: flex;
  justify-content: flex-end;
}

.contact-info {
  grid-area: contact;
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
  margin-top: 30px;
  margin-right: 50px;
}

.contact-info * {
  margin-left: 5vw;
}

.contact-info .contact-item * {
  margin-left: 0vw;
  margin-right: 2vw;
  cursor: default;
}

.contact-info .contact-item {
  display: flex;
  align-items: center;
}

.contact-info .icons {
  display: flex;
  flex-direction: row;
  gap: 10px;
}



footer img {
  grid-area: img;
  width: 500px;
  height: 450px;
  /* padding: 50px; */
  margin-right: 100px;
  margin-top: 10px;
  border: 2px black solid;
}

header {
  position: relative;
  grid-area: header;
}

header::before {
  background-color: burlywood;
  content: "";
  position: absolute;
  top: -60%;
  z-index: -1;
  left: -45%;
  transform: skewY(-17deg);
  width: 145%;
  height: 150%;
}

main {
  grid-area: main;
}

main h2,
main .cards {
  margin-left: 5vw;
  margin-right: 5vw;
}

footer {
  grid-area: footer;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "contact img";
  background-color: burlywood;
}


footer i {
  margin-left: 0 !important;
}

i {
  font-size: 35px;
}

@media (max-width: 480px) {
  body {
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "main"
      "footer"
    ;
  }

  .about-me {
    display: grid;
    grid-template-areas:
      "img"
      "content"
    ;
    justify-items: center;
  }

  .about-me .name {
    max-width: 67%;
  }

  .icons {
    justify-content: center;
  }

  .about-me .image {
    max-width: 100%;
    display: block;
  }

  .about-me .content {
    grid-area: content;
    margin: auto;
    margin-top: auto;
    margin-left: auto;
    background: none;
    box-shadow: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    gap: 20px;
  }

  header::before {
    background-color: burlywood;
    content: "";
    position: absolute;
    top: -70%;
    z-index: -1;
    left: auto;
    transform: skewY(-17deg);
    width: 100%;
    height: 97%;
  }

  .cards {
    grid-template-columns: none;
    grid-template-rows: none;
  }

  main h2 {
    display: flex;
    justify-content: center;
  }

  footer {
    grid-template-columns: 1fr;
    grid-template-areas:
      "contact"
      "img";
    background-color: burlywood;
  }

  footer img {
    max-width: 100%;
    height: auto;
    padding: 0px;
    margin-right: 0px;
    margin-top: 2px;
    border: none;
  }

  footer h2 {
    align-self: center;
  }
}

@media (min-width: 481px) and (max-width: 1024px) {
  body {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "header header"
      "main main"
      "footer footer";
    ;
  }

  p {
    font-size: larger;
  }

  header::before {
    height: 100%;
  }

  .about-me {
    grid-template-areas: "img content";
  }

  .about-me .content {
    display: block;
    width: 526px;
    margin-top: 90px;
    margin-left: -280px;
  }

  .about-me .content::before {
    content: "";
    float: left;
    margin-top: -102px;
    margin-left: -100px;
    margin-right: 15px;
    height: 380px;
    width: 304px;
  }

  .about-me h2 {
    margin-left: 50%;
    padding: 24px;
    margin-top: 17px;
    font-size: 40px;
  }

  .about-me .name {
    max-width: 67%;
    bottom: 104%;
    left: 80%;
    font-size: 44px;
    white-space: nowrap;
  }

  .icons {
    justify-content: center;
  }

  .about-me .image {
    max-width: 100%;
    display: block;
    margin-left: auto;
  }


  .cards {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: none;
  }

  footer {
    grid-template-columns: 2fr 1fr;
  }

  footer img {
    width: 400px;
    margin-top: 25px;
  }
}