html {
  --shadow-for-boxes: 3px 3px 8px 0px #00000047;
}

* {
  font-family: "Lora";
}


p {
  font-size: large;
}

body {
  display: grid;
  grid-template-areas:
    "header header header"
    "main main main"
    "footer footer footer"
  ;
  gap: 100px;
}

.about-me {
  display: grid;
  grid-template-areas:
    "img content content";
  margin-left: 5vw;
  margin-right: 5vw;
  margin-top: 5vh;
  gap: 25px;
}

.about-me img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about-me .image {
  z-index: 2;
  height: 400px;
  width: 325px;
  grid-area: img;
  box-shadow: var(--shadow-for-boxes)
}

.about-me .name {
  grid-area: h1;
  bottom: 70px;
  left: 16%;
  position: relative;
  color: white;
  text-shadow: 0px 3px 5px black;
}



.about-me .content {
  grid-area: content;
  margin: auto;
  margin-top: 60px;
  margin-left: -90px;
  background: white;
  padding: 50px;
  box-shadow: var(--shadow-for-boxes)
}

.about-me .content * {
  margin-left: 3vw;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 350px);
  ;
  grid-template-rows: 1fr 1fr;
  gap: 30px;
}

.cards .project {
  box-shadow: 3px 3px 10px 1px #00000047;
}

.cards .project img {
  /* max-width: 100%;
  max-height: 100%; */
  max-width: 100%;
  object-fit: cover;
  height: 375px;
  display: block;
}

.cards .content {
  padding: 15px;
}

.project-title {
  display: flex;
  align-items: center;
  width: 100%;
  height: 10vh;
}

.project-title h3 {
  margin-right: auto;
}

svg {
  width: 30px;
  height: 30px;
  background-color: black;
  margin-left: 10px !important;
}

.icons {
  display: flex;
  flex-direction: row-reverse;
}

.contact-info {
  grid-area: contact;
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
  margin-top: 30px;
}

.contact-info * {
  margin-left: 5vw;
}

.contact-info .contact-item * {
  margin-left: 1vw;
}

.contact-info .contact-item {
  display: flex;
  align-items: center;
}

.contact-info .icons {
  display: flex;
  flex-direction: row;
  gap: 10px;
}



footer img {
  grid-area: img;
  width: 600px;
  height: 500px;
  padding: 50px;
  margin-right: 100px;
  margin-top: -10px;
}

header {
  position: relative;
  grid-area: header;
}

header::before {
  background-color: burlywood;
  content: "";
  position: absolute;
  top: -60%;
  z-index: -1;
  left: -45%;
  transform: skewY(-17deg);
  width: 145%;
  height: 150%;
}

main {
  grid-area: main;
}

main h2,
main .cards {
  margin-left: 5vw;
  margin-right: 5vw;
}

footer {
  grid-area: footer;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "contact img";
  background-color: burlywood;
}


footer svg {
  margin-left: 0 !important;
}